.odd{
    font-family:"Verdana","DejaVu Sans",sans-seriff;
    background-color: rgb(184, 97, 111);
}

#second{
    color:rgb(62, 62, 169);
    font-size: 32px;
}

.third{
    font-size: 24px;
}

#fourth{
    background-color: rgb(72, 155, 72);
    font-size: 24px;
    font-weight: bold;
}